@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .timeline-title{
      @apply w-full text-left relative opacity-75 before:opacity-100 before:absolute before:left-[-27px] before:top-[6px] before:border-2 before:w-3 before:h-3 before:rounded-full before:bg-[#2AF6FF] before:border-[#2AF6FF]
    }
  }

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif;
}

h1#blackhan {
    font-family: "Black Han Sans", sans-serif;
}

/* .navContainer {
    transition: all;
    animation-duration: 500ms;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
} */
@media screen and (max-width: 1024px) {
    .navContainer[data-visible="false"] {
        transform: translateX(100%);
    }

    div.navContainer[data-visible="false"] ~ div.navButton > img.nav\:open {
        display:  none;
    }

    .navContainer[data-visible="true"] {
        transform: translateX(0%);
    }
    div.navContainer[data-visible="true"] ~ div.navButton > img.nav\:close {
        display:  none;
    }

}
